/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--text-font-weight);
}

.header {
  font-family: var(--accent-font);
  width: var(--content-width);
  display: grid;
  justify-items: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-block-end: 25px;
  margin-block-end: 100px;
  gap: 25px;
  border: var(--border);
}

.header__logo-group {
  display: grid;
  justify-items: center;
  gap: 20px;
}

.logo-group-title {
  font-size: clamp(3.063rem, 2.7109rem + 1.5023vw, 4.063rem);  
}



.logo-group__title-second {
  font-size: clamp(0.875rem, 0.6768rem + 0.8458vw, 1.438rem);
}


.theme-menu__list {
  display: grid;
  gap: 14px;
  font-size: 14px;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
}

.main {
  width: var(--content-width);
}


